@charset "UTF-8";

/* Importation des polices au tout début! */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Raleway:wght@300;400;700&display=swap');

/**
 * TABLE DES MATIERES
 * @author DIAS DA ROCHA Alexandra - @TIMCSF
 *
 * Normalize (au lieu du reset)
 * Utilitaires
 * Typo
 * Composants menu
 * Styles de base
 */
 


/* Normalize (reset qui harmonise le rendu des éléments de formulaire)
   ========================================================================== */
@import url(normalize.css);

/* Utilitaires (contient box-sising = border-box et autres utiles)
   ========================================================================== */
@import url(utilitaires.css);

/* Typo
   ========================================================================== */
@import url(typo.css);

/* Composants Menu
========================================================================== */
@import url(composants/menu.css);

/* Styles de base
   ========================================================================== */
body{
    font-family: var(--police);
    min-height: 100vh;
    color: grey;
    scroll-behavior: smooth;
}

ul.rangee {
    list-style: none;
    padding-left: 0;
}

.chambre {
    display: flex;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    /* font-weight: 500; */
    letter-spacing: 2px;
}
 
aside{
    width: 90%;
    margin: 0 auto;
}


/* Mise en forme */
@media (min-width:600px) {
    ul.rangee li {
        /* flex:0 1 calc(33.333333% - 10px); */
        flex: 0 1 32%;
    }

    ul.rangee li:nth-of-type(2) {
        margin: 0 10px;
    }

    .coordonnees {
        max-width: 50%;
        /* margin:auto; */
    }
}

/* Boutons radios accessibles
   ========================================================================== */

/*** Form ***/
label {
    /* placer les étiquettes au-dessus des champs de saisie */
    display: block;
}

input[type=text],
input[type=email],
input[type=tel] {
    /* pleine largeur pour la plupart des champs de saisie */
    display: inline-block;
    width: 100%;
}

/*** Label des boutons radio ***/
/* le sélecteur met à profit
le fait que le label est consécutif
au input (cas des boutons radio et des cases à cocher)
 */
input[type=radio]+label {
    display: inline-block;
    text-align: center;
    border: 2px solid transparent;
}

/*** Interactivité ***/
[type=radio]:hover+label {
    cursor: pointer;
}

[type=radio]:hover+label,
[type=radio]:focus+label {
    border: 5px solid #06e6ea;
}

[type=radio]:checked+label {
    border: 5px solid #06e6ea;
}

/*** Bouton de soumission ***/
button {
    padding: 0.5rem;
    background-color: rgb(35, 101, 94);
}

button:hover,
button:focus {
    background-color: rgb(35, 101, 94);
}

/*** Focus ***/
input:focus,
textarea:focus,
keygen:focus,
select:focus {
    outline-offset: 3px;
}

:focus {
    /* outline: 5px auto purple; */
    outline: none;
    box-shadow: 2px 2px 1px 1px #06e6ea;
}

button:focus {
    box-shadow: var(--bouton-box-shadow);
}

/*** Erreurs ***/
.erreur {
    /* color: orangered; */
    display: none;
}

.icone {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../images/good-warning-error.png");
    background-size: cover;
    position: relative;
    top: 3px;
}

.icone--ok {
    background-position: 0 0;
}

.icone--avertissement {
    background-position: 49px 0;
}

.icone--erreur {
    background-position: 101px 0;
}

/* Main */
main{
    width: 90%;
    margin: 0 auto;
    /* border:solid red 2px; */
}
@media (min-width:700px){
    main{
        width: 80%;
    }
}

header{
    background-color: black;
}

header a{
    text-decoration: none;
}

.header__top{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}
@media screen and (min-width: 600px) {
    .header__top{
        flex-direction: column;
    }
}

.header__top--image{
    width: 50%;
    margin: 0 auto;
}
@media screen and (min-width: 600px) {
    .header__top--image{
        width: 10%;
    }
}

.header__top--image img{
    width: 100%;
}

.header__top--nom p{
    font-family: var(--police-titre);
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    text-align: right;
}

.header__top--nom p:hover{
    color: rgb(35, 101, 94);
}

.header__top--nom p:focus{
    box-shadow: 2px 2px 1px 1px #06e6ea;
    color: white;
}

.header__top--nom:focus{
    box-shadow: 2px 2px 1px 1px #06e6ea;
    color: white;
}

.reservation__titre{
    text-transform: uppercase;
    font-size: 3rem;
    color : var(--police-color-titre)
}

/* Blockquote */
blockquote{
    text-align: center;
    font-size: 1.5rem;
}

/* Carrousel */
.carrousel {
    position: relative;
}

.js .carrousel__slide {
    display: none;
}

.js .carrousel__slide.carrousel__slide--active {
    display: block;
}

.carrousel__liste{
    margin: 0;
    padding: 0;
}

.carrousel__liste figure{
    margin: 0;
}

.controls{
    text-align: center;
    padding: 0;
}

/* Formulaire */
form{
    width: 100%;
}

.form-section{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

.form-section p{
    width: 90%;
    margin: 0 auto;
} 

.form-section p select{
    width: 100%;
    padding: 20px 0;
    margin: 10px 0 0 0;
}

/* .form-section p label{
    margin: 20px 0 0 0;
} */

.form-section ul{
    /* padding: 5px;
    margin: 20px 0; */
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.form-section ul li{
    text-decoration: none;
    list-style: none;
}

.form-section fieldset:nth-child(1n + 1){
    width: 100%;
    align-items: center;
    display: flex;
    margin: 20px 0;
}
@media (min-width:700px){
    .form-section fieldset:nth-child(1n + 1){
        width: 40%;
    }
}

.form-section fieldset select:nth-child(1n + 1){
    justify-content: space-around;
    display: flex;
}

.form-section .form__nb--personne{
    margin: 20px;
}


.form__disponibilite--items{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
@media (min-width:700px){
    .form__disponibilite--items{
        flex-direction: row;
        width: 80%;
    }
}

.form__disponibilite--boutonValid button{
    /* border-radius: 30px solid red; */
    background-color: rgb(35, 101, 94);
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 100%;
    margin: 30px 0;
    padding: 10px;
}

.form__disponibilite--boutonValid button:active,
.form__disponibilite--boutonValid button:visited{
    /* border-radius: 30px solid red; */
    background-color: rgb(143, 120, 30);
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 100%;
    margin: 30px 0;
    padding: 10px;
}

.form__disponibilite--boutonValid button:focus{
    box-shadow: 2px 2px 1px 1px #06e6ea;
    background-color: rgb(143, 120, 30);
    color: white;
  
    
}


fieldset legend h2{
    font-size: 2rem;
    text-transform: uppercase;
    color:rgb(35, 101, 94);
    text-decoration: none;
}

fieldset legend h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: grey;
    text-decoration: none;
}

.form__date{
    flex-direction: column; 
}

form a{
    text-decoration: none;
    color: grey;
}

.form__date select{
    width: 90%;
    margin: 30px 0;
    padding: 20px;
    background-color: rgba(35, 101, 94, 0.1);
}

/* Base formulaire Réservation */

fieldset fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

a fieldset{
    text-decoration: none;
}

fieldset {
    border: 1px solid rgb(35, 101, 94);
    padding: 0;
    margin: 30px 0;
    text-decoration: none;
}

legend {
    padding: 0 0.5rem;
}

fieldset fieldset legend {
    padding: 0.5rem;
}

fieldset h2 {
    margin: 0;
}

select {
    border-radius: 5px;
    margin: 0 0.25rem
}

button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: var(--couleur-bouton-hover);
    box-shadow: var(--bouton-box-shadow);
}


/* Choix de chambres */
.form__choixChambres ul li{
    display: flex;
    flex-direction: row;
    width: 100%;
}
@media (min-width:700px){
    .form__choixChambres ul li{
        width: 20%;
    }
}

.form__choixChambres ul li label{
    width: 100%;
    /* border: solid red 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
@media (min-width:700px){
    .form__choixChambres ul li labeli{
        max-width: 200px;
        max-height: 200px;
    }
}

.form__choixChambres ul{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
@media (min-width:700px){
    .form__choixChambres ul{
        width: 80%;
    }
}

/* Chambres */

.form__figure--image{
    width: 90%;
    margin: 0 auto;
}

.form__figure--image img{
    width: 100%;
}

.form__li{
    margin: 20px 0;
}

/* Identifications */

.form__identification--items{
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    align-items: flex-start;
}
@media (min-width:700px){
    .form__identification--items{
        width: 50%;
        padding: 10px;
    }
}

.form__identification--item label{
    text-transform: uppercase;
    color: grey;
    margin: 10px 0;
}

.form__identification--item input{
    padding: 20px 5px;
    margin: 0 0 20px 0;
}

.form__documentation--accept{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.form__documentation--accept input{
    margin-right: 10px;
}

.form__dejeuner--accept{
    display: flex;
    align-items: center;
    padding: 0 0 20px 0;
}

.form__confirmation--reservation button{
    background-color: rgb(35, 101, 94);
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 100%;
    margin: 30px 0;
    padding: 10px;
}

.case-a-cocher input{
 margin-right: 10px;
}